/**
 * <=  480
 * ----------------------------------------------------------------------------
*/
@media (max-width: 480px) {
	body{
		&.home{
			h2{
				font-size:2.5rem;
				line-height: 3.2rem;
			}
		}
	}
	h1.entry-title{
		font-size:3rem;
		line-height: 1em;
	}
	#fx-header-cover h2 {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 30px;
	}
	.single h1.entry-title, h2.entry-title{
		font-size:1.5rem;
	}
	#site-icons {
		width: 117px;
		padding: 0;
		a{
			margin-left: 0;
		}
		#lang_sel{
			margin-left: 2px;
		}
	}
}