/**
 * <= 959px
 * ----------------------------------------------------------------------------
*/
@media (max-width: 959px){
	.site-branding{
		margin-left:25px;
	}
	.main-navigation ul{
		display:none;
	}
	.menu-toggle{
	display: block;
	margin-top:12px;
	}
	.main-navigation{
	width: auto;
		float: right;
		min-width: 0
	}
	#mega-menu-wrap-primary{
		display:none;
	}
	#site-icons {
		width: 140px;
		margin: 0px 15px 0 0;
	}
	.search-field{
		width:50%;
	}
	.masonry_blog .grid-post{
	margin:0 0 4% 0;
	}
	.overlap_blog .grid-post .thumbnail{
	width:100%;
	clear:both;
	}
	.overlap_blog .grid-post .entry-grid {
		width: 90%;
		float: none;
		clear: both;
		margin-left: 0;
	}
	.overlap_blog .grid-post .entry-grid:hover{
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-o-box-shadow: 0 ;
	box-shadow:0 0 0;  
	}
	.grid_blog .grid-post{
		height:250px;
	}
	#respond textarea{
		width:100%;
	}
} 
