/**
 * <= 1200px
 * ----------------------------------------------------------------------------
 */
@media (max-width: 1200px) {
	.main-navigation{
		min-width:50%;
		width:auto;
	}
	.main-navigation a{
		font-size:0.7rem;
	}
	.site-content{
		width: 95%;
		margin: auto;
	}
	#site-icons .lang_sel_list_horizontal ul li a,
	#site-icons .wpml-ls-legacy-dropdown ul li a{
		font-size: 0.7rem;
	}
}