/**
 * <= 768px
 * ----------------------------------------------------------------------------
*/
@media (max-width: 768px){
	.fx-col3, .fx-col7{
		clear: none;
	}
	.site-content{
		width:100%;
	}
	.menu-toggle{
	display: block;
	margin-top:12px;
	margin-right:10px;
	}
	
	#fx-topbar,
	#fx-primary-bar{
		height:50px;
		line-height:50px;
	}
	
	.site-branding{
		width:25%;
		float:left;
		margin-left:0;
		margin-top: 14px;
	}
	
	.site-branding .site-title{
		font-size:1.2rem;
	}
	
	.site-branding .site-title img{
		width:100%;
		margin-top:0;
	}
	
	.main-navigation{
		margin-right:0;
		padding-right:0;
	}
	
	#site-icons {
		margin-right:0;
	}
	
	#fx-header-cover{
		width:80%;
		margin-left:-40%;	 
	}
	
	#fx-header-cover h2 {
		font-size: 26px;
		font-size: 2.6rem;
		line-height: 36px;
	}
	
	#fx_popup .popup_content h3{
		font-size:3rem;
	}
	
	.narrow{		
		width:100%;
	}
	
	.overlap_blog .grid-post .thumbnail{
		min-height:200px;
	}
	.overlap_blog .grid-post .entry-grid {
		width: 89%;
	}
	
	.grid_blog .grid-post{
	height:400px;
	width:100%;
	margin-right:0;
	}
	.grid_blog .grid-post .whiteText h4{
		margin-top:150px;
		font-size:2rem;
	}
	
	.single h1.entry-title, h2.entry-title{
		font-size:2rem;
	}
		
	#respond textarea,
	#respond input[type="text"],
	#respond input[type="email"],	
	#respond input[type="url"]  {
		width: 96%;
	}
	
	.bullet_links{
		right:0;
	}

	.light-gallery{
		.isotope-item{
			width: 100%;
		}
	}

	/* Footer */
	.menu-bottom-bottom-menu-container{
		ul{
			li{
				width: 100%;
				a{
					width: 100%;
				}
				&:nth-child(2), &:nth-child(3){
					text-align: left;
				}
			}
		}
	}
	a.footer-social{
		width: calc(100% - 80px);
	}
	
	.site-bottom{
		.terms{
			margin-left: 0;
		}
	}
}