/*--------------------------------------------------------------
 * WooCommerce Stylesheet
 * TABLE OF CONTENTS:
----------------------------------------------------------------
# General
# Layout
# Product Section
# Product Category
# Featured Products 
# Product archive
# Widgets
# Cart Page
# Account Page
# Billing Page
# Register & Login
# Wishlist
# Mobile
--------------------------------------------------------------*/

/* #General
========================*/
body.woocommerce-account,
body.woocommerce-cart,
body.woocommerce-checkout,
body.woocommerce-wishlist{
	background:#fcfcfc;
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	background: #1bbff5;
	color: #fff;
	border-radius: 5px;
	font-weight:400;
	font-size:15px;
}
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
	background: #1d94bc;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover{
	background: #000;
	color:#fff;
}

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover{
	background:#999;
}

.woocommerce fieldset{
	border-color:#eee;
	margin:15px auto;
}
.woocommerce fieldset legend{
	padding:0 10px;
	font-weight: bold;
}
.woocommerce .quantity .qty {
	height: 14px;
}
.woocommerce div.product form.cart .button {
    padding: 12px 10px 13px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text{
	padding:6px;
}

.woocommerce .woocommerce-breadcrumb {
	margin-bottom: 3em;
	padding: 10px;
	border: 1px solid #f0f0f0;
}
.woocommerce .woocommerce-breadcrumb i {
	margin-right: 5px;
}
.woocommerce .page-title {
	font-size:50px;
	font-size: 3.5rem;
	line-height: 1.2em;
    text-align: center;
    margin-bottom: 1.5em;
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
	margin-bottom: 3em;
}
.woocommerce .woocommerce-ordering{
	margin-top:-0.5em;
}
.woocommerce .category_result {
	margin-bottom: 4em;
	border-bottom: 1px solid #eee;
	padding-bottom: 3em;
	font-size:1rem;
}
.woocommerce table.shop_table{
	border:none;
}
.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message{
	background:none;
	border:1px solid #eee;
	padding-left:2em!important;
}
.woocommerce .woocommerce-error:before, 
.woocommerce .woocommerce-info:before, 
.woocommerce .woocommerce-message:before{
	display: none;
}
.woocommerce .woocommerce-info{
	border-color:#000;
	color:#000;
}
.woocommerce .woocommerce-message{
	border-color:#8dbb6c;
	color:#8dbb6c;
	line-height: 30px;
}
.woocommerce .woocommerce-error{
	border-color:#e8535c;
	color:#e8535c;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li{
	border-color:#000;
	border-width:0 0 1px;
}
.woocommerce nav.woocommerce-pagination ul li{
	margin-right:10px;
}
.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span{
	padding:.7em;
	color:#000;
	font-size: 1rem;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    color: #bbb;
    background:none;
}

/* #Layout 
======================= */
#fx-shop-sidebar{
	float:left;
}
#fx-shop-primary{
	float:right;
}

/* #Product Section 
======================= */
.fx-product-section {
	padding: 30px 0 0px;
	margin-bottom: 40px;
	border-bottom: 1px solid #eee;
}
.fx-product-section:last-child {
	border: none;
}
/* #Product Category 
======================= */
.fx-product-categories {
	margin: 0;
}
.fx-product-categories .woocommerce .products ul, .fx-product-categories .woocommerce ul.products {
	margin-bottom: 0;
}
.fx-product-categories .woocommerce ul.products li.product {
	height:auto;
	overflow: hidden;
	margin: 0;
	position: relative;
	background:#000;
}
.fx-product-categories .woocommerce ul.products li.product h3 {
	position: absolute;
	top: 45%;
	left: 0;
	text-align: center;
	font-size: 20px;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	height: auto;
	opacity: .8;
}
.fx-product-categories .woocommerce ul.products li.product h3:hover{
	color:#fff;
}
.fx-product-categories .woocommerce.columns-2 ul.products li.product {
	width:50%;
	min-height: 400px;
}
.fx-product-categories .woocommerce.columns-3 ul.products li.product {
	width: 33.2%;
	min-height: 260px;
}
.fx-product-categories .woocommerce.columns-4 ul.products li.product {
	width: 25%;
	min-height: 260px;
}
.fx-product-categories .woocommerce ul.products li.product mark {
	display: none;
}
.fx-product-categories .woocommerce ul.products li.product img {
	margin-bottom: 0;
}

/* #Featured Products 
======================= */
.fx-featured-products {
	margin: 40px auto 50px;
}

/* #Recent Products 
======================= */
.fx-recent-products .section-title {
	margin-top: 0.8em;
}

/* #Product archive
======================== */
.woocommerce .term-description,
.woocommerce .page-description{
    width: 50%;
    margin: -50px auto 80px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #999;
}
.woocommerce .term-banner{
	margin-bottom:60px;
	text-align: center;
}
.woocommerce .term-banner img{
	max-width:100%;
	height:auto;
}

.woocommerce .fx_product_category_menu{
	list-style: none;
	text-align: center;
	margin:-40px 0 80px;
	padding:0;
}
.woocommerce .fx_product_category_menu li{
	display:inline-block;
	border:1px solid #eaeaea;
	padding:10px 15px;
	margin-left:-2px;
	font-size:1rem;
	font-weight:400;
	background:#fff;
}
.woocommerce .fx_product_category_menu li:first-child{
	border-radius: 50px 0 0 50px;
}
.woocommerce .fx_product_category_menu li:last-child{
	border-radius: 0 50px 50px 0;
}
.woocommerce .fx_product_category_menu li:hover{
	background:#000;
}
.woocommerce .fx_product_category_menu li a{
	color:#000;
}
.woocommerce .fx_product_category_menu li:hover a{
	color:#fff;
}

.woocommerce ul.products li.product{
	width: 30.8%;
	position: relative;
}
.woocommerce ul.products li.product a img{
	border:1px solid #eee;
}
.woocommerce ul.products li.product span.product_hover_image{
	opacity: 0;
	top:1px;
	left:1px;
	bottom:1px;
	right:1px;
	z-index: 0;
    position: absolute;
    background-size: 95% auto;
    background-repeat: no-repeat;
    transition: all 0.3s;
    -moz-transition: all 0.3s; /* Firefox 4 */
    -webkit-transition: all 0.3s; /* Safari and Chrome */
    -o-transition: all 0.3s; /* Opera */

}
.woocommerce ul.products li.product-category h3{
	font-size:2em;
	color:#333;
	text-align: center;
}
.woocommerce ul.products li.product-category h3:hover{
	color:#1bbff5;
}
.woocommerce ul.products li.product-category h3 mark{
	background:none;
	opacity: .3;
}
.woocommerce ul.products li.product h3 a{
	font-size:1.2em;
    color:#222;
    font-weight:400;
}
.woocommerce ul.products li.product h3 a:hover,
.woocommerce ul.products li.product-category a img{
    -moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.woocommerce ul.products li.product-category a img:hover{
    margin-top:-5px;
}
.fx-product-categories .woocommerce ul.products li.product-category a img:hover{
	-webkit-transform: rotate(0deg) scale(1.1, 1.1);
	margin-top:0;
	opacity:.8;
}
.woocommerce .star-rating {
	color: #1bbff5;
}
.woocommerce ul.products li.product .price {
	color: #999;
}
.woocommerce ul.products li.product .fx-add-to-cart-button{
	position:absolute;
	right:10px;
	top:255px;
	z-index: 2;
	width:40px;
	height:40px;
	background:#000;
	text-align: center;
	line-height: 40px;
	color:#fff;
	border-radius: 5px;
	font-size: 16px;
	display: none;
	padding:0;
}
.fx-add-to-cart-button.added i.fa,
.fx-add-to-cart-button.loading i.fa{
    display:none;
}
.woocommerce a.fx-add-to-cart-button.button.added:after{
	margin:0;
}
.woocommerce a.fx-add-to-cart-button.button.loading:after{
	top: 0em;
	left: 0.9em;
}
.woocommerce ul.products li.product .added_to_cart{
	display:none;
}
.woocommerce ul.products li.product .fx-add-to-cart-button:hover,
.woocommerce ul.products li.product .fx-add-to-cart-button.added {
	background: #1bbff5;
}

/* 2 columns for related products*/
.related ul.products li.product, .related ul li.product, .upsells.products ul.products li.product, .upsells.products ul li.product {
	width: 48%;
}

/* 4 columns for related products*/
.woocommerce.columns-4 ul.products li.product,
.related ul.products li.product, 
.related ul li.product, 
.upsells.products ul.products li.product, 
.upsells.products ul li.product {
	width: 22.1%;
}

/* #Widgets
===================== */
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li {
	padding: 10px 0;
}
.woocommerce ul.cart_list li:first-child, .woocommerce ul.product_list_widget li:first-child {
	padding-top: 0;
}
.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating {
	margin: 10px 0;
}
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
	padding-top: 10px;
	padding-left:0;
}
.woocommerce.widget_shopping_cart .cart_list li:last-child, .woocommerce.widget_shopping_cart .cart_list li:last-child {
	border: none;
	margin-bottom: 0px;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
	top: 10px;
}
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
	margin-top: 0;
	padding-top: 10px;
}

.woocommerce ul.cart_list li a, 
.woocommerce ul.product_list_widget li a{
   margin-bottom:5px;	
}
.woocommerce ul.cart_list li .amount,
.woocommerce ul.product_list_widget li .amount{
	color:#999;
}

/*Mini Cart*/
.woocommerce ul.product_list_widget li.mini_cart_item{
	border-bottom: 1px solid #eee;
	position: relative;
	padding-bottom: 10px;
}
.woocommerce ul.product_list_widget li.mini_cart_item a{
	font-size:1.2rem;
	margin-top:20px;
	color:#000;
	font-weight: normal;
}
.widget_shopping_cart ul.product_list_widget li.mini_cart_item a{
    font-size:1rem;	
} 

.woocommerce ul.product_list_widget li.mini_cart_item .remove {
    line-height: .9em;
    display: inline-block;
    float:left;
    margin-right:20px;
    position: relative;
    margin-left:0;
    z-index: 3;
}
.woocommerce ul.product_list_widget li.mini_cart_item img{
	width:50px;
	margin-bottom:20px;
	float:right;
}
.widget_shopping_cart ul.product_list_widget li.mini_cart_item img{
	margin-bottom:0px;
}
.woocommerce ul.product_list_widget li.mini_cart_item .variation{
	height:auto;
	min-height:20px;
	border:none;
	margin:10px 0 30px 32px;
	display:block;
}
.woocommerce ul.product_list_widget li.mini_cart_item .variation dd p{
	margin-top:0;
}
.widget_shopping_cart ul.product_list_widget li.mini_cart_item .variation dd{
	width:100%;
	padding:0;
	margin:0;
}
.woocommerce ul.product_list_widget li.mini_cart_item .quantity{
	display: block;
	position: absolute;
	bottom:10px;
	left:45px;
}
.woocommerce .widget_shopping_cart_content .total{
	margin-top:30px;
}
.woocommerce .widget_shopping_cart_content .buttons{
	margin-top:-30px;
	display: block;
	float:right;
}
.widget_shopping_cart .widget_shopping_cart_content .buttons{
    margin-top:0;
    float:none;	
} 

/*Price Slider*/
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	background-color:#aaa;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
	background-color:#ddd;
}

/* #Product Detail page
========================== */
.single-product #page{
	margin-bottom:0;
}
/*Product Image Slider*/
.woocommerce #content div.product div.thumbnails a, 
.woocommerce div.product div.thumbnails a, 
.woocommerce-page #content div.product div.thumbnails a, 
.woocommerce-page div.product div.thumbnails a{
	width:90%;
}
.woocommerce div.product div.images div.thumbnails {
    padding-top: 0;
    float: left;
    width: 20%;
}
.woocommerce-main-image{
    width: 80%;
    float: right;
    display: block;
}
.woocommerce span.onsale {
    background-color: #e1790a;
    font-size: 1.3em;
    z-index: 2;
    top: 10px;
    left: 440px;
}
/*Product Summary*/
.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary{
	margin-top:0;
	font-size:14px;
	font-size:.9rem;
	line-height: 1.4rem;
}
.woocommerce div.product div.images, 
.woocommerce div.product div.summary{
	margin-bottom:5em;
}
.woocommerce div.product .product_title{
	font-size:42px;
	font-size:2.6rem;
}
.woocommerce-review-link{
	color:#999;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
    color: #1bbff5;
    font-size: 2.4em;
    margin-top:0px;
}
.woocommerce div.product p.price del, 
.woocommerce div.product span.price del{
	color: #999;
    font-size: .8em;
}
.woocommerce div.product p.price ins, 
.woocommerce div.product span.price ins{
	text-decoration: none;
}
/*variations*/
.woocommerce div.product form.cart{
	margin-bottom:0em;
}
.woocommerce div.product form.cart .variations{
	margin-top:1em;
	margin-bottom:-3em;
}
.woocommerce div.product form.cart .variations label {
    font-weight: 800;
    margin-top: 5px;
    display: block;
}
.woocommerce div.product form.cart .variations select{
	margin-bottom:10px;
}
.woocommerce .reset_variations{
	float:right;
	margin-top:20px;
	color:#fd8121;
}
.woocommerce .reset_variations:before{
	content:"\f00d";
	margin-right:5px;
}
.woocommerce .woocommerce-variation-add-to-cart.variations_button{
	margin-top:30px;
}
.woocommerce div.product p.stock{
	margin-top:20px;
	border: 1px solid #71a467;
    padding: 8px 15px;
    margin:25px 0 20px 52px;
}
.woocommerce div.product p.stock.out-of-stock{
    border-color:#f00;
    margin:5px 0 0;
}
.woocommerce div.product p.stock.out-of-stock:before{
	margin-right:5px;
	content:"\f071";
}
.add_to_wishlist,
.woocommerce div.product p.stock,
.woocommerce .reset_variations,
.summary .product_meta span.posted_in,
.summary .product_meta span.sku_wrapper{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  /*text-rendering: auto;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.add_to_wishlist{
  padding-top:20px;
}
.add_to_wishlist:before{
	content:"\f08a";
}
.yith-wcwl-wishlistaddedbrowse,
.yith-wcwl-wishlistexistsbrowse{
    border: 1px solid #eee;
    padding: 5px 10px;
    color:#666;
    font-style: italic;
    margin: 30px 0 10px;
}
.yith-wcwl-add-to-wishlist{
	margin-top:0;
	padding-top:6px;
}
.summary .product_meta{
    margin-top:20px;	
    color:#999;
    font-size:12px;
    font-size:.7rem;
}
.summary .product_meta span.posted_in{
	display: block;
	margin-top:5px;
}
.summary .product_meta span.posted_in:before{
	content:"\f115";
	margin-right:5px;

}
.summary .product_meta span.sku_wrapper:before{
	content:"\f129";
	margin-left:2px;
	margin-right:11px;
}

.woocommerce table.shop_attributes{
	border:1px solid rgba(0,0,0,.1);
	margin-top: 1.3em;
}

/*----- Accordion -----*/
.fx-accordion, 
.fx-accordion p {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
    clear:both;
}
 
.fx-accordion {
    overflow:hidden;
}
.woocommerce #fx-description p{
	display:none;
}
#fx-product-rest .site-content{
	width:100%;
}
 
/*----- Section Titles -----*/
.fx-accordion-section-title {
    padding:25px 0 25px;
    display:block;
    border:1px solid #eee;
    border-width:1px 0;
    transition:all linear 0.15s;
    /* Type */
    font-size:32px;
    font-size:2.3rem;
    color:#333;
    margin:0 auto -1px;
}
.fx-accordion-section-title span{
	float:right;
	font-family: karla;
	width:50px;
	height:50px;
	display: block;
	text-align: center;
	line-height: 45px;
	margin-top:-15px;
}
 
.fx-accordion-section-title.active{
    color:#000;
    padding-bottom:30px;
    border-bottom:none;
    text-decoration:none;
}
 
/*----- Section Content -----*/
.fx-accordion-section-content {
    padding:0 0 30px;
    display:none;
    font-size: 18px;
    font-size: 1.1rem;
    line-height: 28px;
}
.fx-accordion-section-content.active{
	display:block;
}

/*Product Content*/
.fx-accordion-section-content h1{
	font-size:1.5em;
}
.fx-accordion-section-content h2{
	font-size:1.2em;
}
.fx-accordion-section-content h3{
	font-size:1em;
}

/*Review*/
.woocommerce #reviews #comments ol.commentlist li img.avatar{
	border-color:#eee;
	background:none;
	border-radius: 50px;
	width:42px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text{
	margin-left:70px;
}
.woocommerce #reviews #comments ol.commentlist li .star-rating {
	position: absolute;
	right:10px;
}
.woocommerce #reviews #comments h2{
	font-weight:bold;
}
.woocommerce #reviews h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/*Related Products*/
.upsells.products,
.related.products{
	clear:both;
	border-top: 1px solid #eee;
    padding-top: 15px;
}
.related.products h2,
.upsells.products h2{
	margin:80px auto 60px;
	text-align: center;
	font-size: 50px;
	font-size:3.2rem;
	line-height: 1em;
}

/*#Reviews*/
.woocommerce #reviews #comments ol.commentlist{
	padding:0;
	margin:40px 0;
}
.woocommerce #review_form #respond p.comment-form-author,
.woocommerce #review_form #respond p.comment-form-email{
	display:inline-block;
	padding-bottom:5px;
}
.woocommerce #review_form #respond p input[type="text"]{
	width:90%;
}

/* #Cart Page
========================== */
/*No product in cart page*/
.woocommerce-cart #page{
	min-height:520px;;
}
.woocommerce .return-to-shop,
.woocommerce .cart-empty{
	text-align: center;
}
.woocommerce .cart-empty{
	font-size:2rem;
}

.woocommerce table.shop_table{
	margin-bottom:50px;
}
.woocommerce-cart .cart-collaterals .cart_totals table tr td, 
.woocommerce-cart .cart-collaterals .cart_totals table tr th{
	text-align: center;
}
.woocommerce #content table.cart td.actions, 
.woocommerce table.cart td.actions, 
.woocommerce-page #content table.cart td.actions, 
.woocommerce-page table.cart td.actions{
	padding:20px;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text{
	width:120px;
}
.select2-container .select2-choice {
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.woocommerce table.shop_table td,
.woocommerce table.shop_table th{
	border-bottom:1px solid #eee;
	border-width:0 0 1px;
}
.woocommerce table.shop_table td.product-name a{
	color:#000;
	font-weight:400;
}
.woocommerce table.shop_table td.product-name a:hover{
	color:#1bbff5;
}
.woocommerce table.shop_table tr:last-child td{
	border-bottom:none;
	padding-bottom:0;
}
.woocommerce-cart table.cart .product-thumbnail{
	padding:20px;
}
.woocommerce-cart table.cart img{
	width:80px;
}
.woocommerce a.remove{
	border:2px solid #ccc;
	color:#ccc!important;
	line-height: .95;
}
.woocommerce a.remove:hover{
	border-color:#f00;
}
.woocommerce a.button.checkout-button{
    background:#000;
} 
.woocommerce td.product-name dl.variation{
	font-size:.9rem;
	color:#999;
}
.woocommerce td.product-name dl.variation dt{
	padding:0;
}
.woocommerce td.product-name dl.variation dd{
	border:none;
	margin-bottom:0;
	padding:0;
}
.woocommerce td.product-name dl.variation dd p:last-child{
	margin-top:0;
}
.woocommerce .cart-collaterals{
	width:31%;
	float:left;
	margin-right:0;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-cart .cart-collaterals .cart_totals table{
	width:100%;
	font-size:13px;
}
.woocommerce-cart .cart-collaterals .cart_totals table{
	border:none;
}
.woocommerce .cart-collaterals .cart_totals h2{
	margin-top:0;
}
.woocommerce-cart .cart-collaterals .cart_totals table tr td{
	text-align:right;
} 
.woocommerce-cart .cart-collaterals .cart_totals table tr th{
	text-align:left;
}
.woocommerce-cart .cart-collaterals table.shop_table tr:last-child td{
	border-bottom: 1px solid #eee;
	padding-top:.8em;
}
.woocommerce-shipping-calculator p{
	margin-top:5px;
}
.woocommerce .cross-sells{
	clear:both;
	width: 100%;
}
.woocommerce .cross-sells ul.products li.product{
	width: 22.1%;
}
.woocommerce .cross-sells ul.products li.product:last-child{
	margin-right:0;
}

/* #Account Page
========================== */
.woocommerce .myaccount_user,
.woocommerce table.shop_table.cart,
.woocommerce #customer_details.col2-set,
.woocommerce-checkout-review-order,
.woocommerce form.login, 
.woocommerce form.register,
.woocommerce .lost_reset_password,
.woocommerce .col-1.address,
.woocommerce .col2-set .col-1.address, 
.woocommerce .col2-set .col-2.address,
.woocommerce .order_details,
.woocommerce .customer_details,
.woocommerce-MyAccount-content{
	border: 1px solid #eee;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 50px;
    background: #fff;
}
/* Account page navigation */
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
	clear:both;
	float:none;
	width:100%;
	margin:auto;
}
.woocommerce-account .woocommerce-MyAccount-content{
    width:90%;
    font-size:14px;
}
.woocommerce-MyAccount-navigation ul{
  text-align:center;
  margin: 20px 0 80px;
}
.woocommerce-MyAccount-navigation ul li{display: inline-block;
    border: 1px solid #eaeaea;
    padding: 5px 15px;
    margin-left: -6px;
    font-size: 1rem;
    font-weight: 400;
}
.woocommerce-MyAccount-navigation ul li a{
   color:#000;
}
.woocommerce-MyAccount-navigation ul li:hover,
.woocommerce-MyAccount-navigation ul li.is-active{
   background:#1bbff5;
}
.woocommerce-MyAccount-navigation ul li:hover a,
.woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-MyAccount-navigation ul li.is-active a{
   color:#fff;
}
.woocommerce-MyAccount-navigation ul li:first-child {
    border-radius: 50px 0 0 50px;
}
.woocommerce-MyAccount-navigation ul li:last-child {
    border-radius: 0 50px 50px 0;
}
.woocommerce-MyAccount-navigation ul li:last-child  a{
   color:#f00;
}
.woocommerce table.my_account_orders .order-actions{
	padding-top:15px;
}
.woocommerce .col-1.address h3{
	margin:0 0 .5em;
}

.woocommerce table.shop_table.my_account_orders{
	margin-bottom:0;
}
.woocommerce-MyAccount-content .woocommerce-info{
	border:none;
	margin-bottom:0!important;
}
.woocommerce table.shop_table tr:last-child{
	border-bottom:none;
}
.myaccount_address{
	margin:-20px auto 40px;
	font-size:12px;
	font-size:.8rem;
	text-align: center;
}
.woocommerce .col2-set .col-1.address, 
.woocommerce .col2-set .col-2.address{
	width:40%;
}
/*Since 1.05 for WC 2.6*/
.woocommerce-account .addresses .title h3 {
    font-size: 1.5em;
}
.woocommerce-account .addresses .title .edit{
	background:#fafafa url(../img/pencil.svg) no-repeat 5px center;
	background-size:90%;
	background-size:15px;
    padding-left: 25px;
    padding-right: 10px;
    color: #999;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size:13px;
    margin-top:20px;
}
.woocommerce-account .addresses .title .edit:hover{
	background-color:#eaeaea;
}

/* #Billing Page
========================== */
.woocommerce-billing-fields h3{
	margin-top:0;
}
.woocommerce-checkout #payment{
	background:#f9f9f9;
}
.woocommerce-checkout #payment ul.payment_methods{
	border: 1px solid #eee;
}
.woocommerce-checkout .col2-set{
	width:48%;
	float:left;
}
.woocommerce-checkout .col2-set .col-1,
.woocommerce-checkout .col2-set .col-2{
	width:100%;
}
.woocommerce-checkout-review-order,
.woocommerce form.checkout_coupon{
	border-color:#aaa;
	background:none;
}
.woocommerce form.checkout_coupon{
	border-style: dashed;
}
#order_review_heading,
.woocommerce-checkout-review-order{
    float:right;
    width:35%;
    display: block;
    padding: 10px 15px;
}
#order_review_heading{
	padding:0;
	margin-top:0;
	width:38%;
}
.woocommerce-checkout-review-order-table{
	font-size:13px;
}
.woocommerce ul#shipping_method li input{
	margin-right:5px;
}
.woocommerce #payment .terms {
    text-align: left;
    padding: 1em 0;
    clear:both;
    font-size: 12px;
}
.woocommerce #payment #place_order{
	clear:both;
	width:100%;
}
.woocommerce form .form-row .input-checkbox{
	margin-left:5px;
}
.woocommerce-checkout #payment div.payment_box{
	background:#333;
	color:#fff;
	font-size:12px;
	font-size:0.8rem;
}
.woocommerce-checkout #payment div.payment_box:before{
	border-color:#333;
	border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
.woocommerce-checkout #payment div.payment_box p:first-child{
	margin-top:0;
}
.woocommerce .checkout_coupon .button{
	padding:16px;
}

/* Register & Login Page
========================== */
.woocommerce form.login, 
.woocommerce form.register{
	width:40%;
	margin:auto;
}
.woocommerce form.login .form-row label.inline{
	margin-left:10px;
}
.woocommerce form .form-row{
    margin-bottom: 15px;
}
.woocommerce-account .woocommerce h2{
	text-align:center;
}
.woocommerce-lost-password .woocommerce{
	width:50%;
	margin:auto;
}
.woocommerce-lost-password form .form-row-first{
	width:100%;
}

.woocommerce form.checkout_coupon .form-row{
	margin-bottom:0;
}
.woocommerce form.checkout_coupon .form-row-last{
	float:left;
}

/* #Order Details*/
.woocommerce-order-received .col2-set{
	width:100%;
}
.woocommerce-order-received .col2-set .col-1, 
.woocommerce-order-received .col2-set .col-2{
	width:48%;
}
.woocommerce table.shop_table.customer_details,
.woocommerce table.shop_table.order_details{
	border: 1px solid #eee;
}
.woocommerce table.shop_table.customer_details tbody th{
	border-top: none;
}
.woocommerce table.shop_table.customer_details tr:last-child th,
.woocommerce table.shop_table.order_details tr:last-child td,
.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table.order_details td{
	border-bottom:none;
}

/* #Wishlist*/
.wishlist-title {
	display:none;
}
.woocommerce table.wishlist_table{
	margin-top:20px;
}
.woocommerce table.wishlist_table thead th, 
.woocommerce table.wishlist_table tbody td{
	text-align: center;
}
.woocommerce table.wishlist_table thead th, 
.woocommerce table.wishlist_table tbody td{
	border-top:none;
}



/* #Mobile
========================== */
@media (max-width: 959px){
  .fx-product-categories .woocommerce.columns-3 ul.products li.product {
    width: 33.2%;
    height: 140px;
    float:left;
  }
  .woocommerce .term-description, .woocommerce .page-description{width:80%;}
}

@media (max-width: 767px){
  .woocommerce .page-title{
	 margin-bottom:0;
	 font-size:38px;
	 font-size:2.5rem;
	 word-wrap: break-word;
  }
  .woocommerce div.product .product_title{
		clear:both;	
		font-size:1.5rem;
  }
  .woocommerce ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dd{
	  padding-bottom: .1em;
  }

  .woocommerce.columns-2 ul.products li.product, 
  .woocommerce.columns-3 ul.products li.product, 
  .woocommerce.columns-4 ul.products li.product,
  .woocommerce.columns-5 ul.products li.product{
	  width:49%;
  }
  .fx-product-section{
	 width:95%;
	 padding:0 10px;
	 margin:auto;
  }
  .fx-product-categories{
	  width:100%;
	  padding:0;
	  margin-top: -60px;
  }
  .fx-product-categories .woocommerce.columns-3 ul.products li.product {
    width: 49.75%;
    height: 200px;
    float:left;
  }
  .fx-product-categories .woocommerce.columns-3 ul.products li.product.last{
	 width:100%;
	 height:280px;
	 float:none;  
  }
  .woocommerce ul.products li.product, 
  .woocommerce-page ul.products li.product{
	 width:48%;
  }
  .woocommerce form.login, 
  .woocommerce form.register,
  .woocommerce-lost-password .woocommerce{
     width:80%;	
  }
  
  #order_review_heading,
  .woocommerce-checkout-review-order,
  .woocommerce-checkout .col2-set{
	  width:83%;
	  clear:both;
	  float:none;
  }
  .woocommerce-checkout-review-order{
	  width:91%;
  }
  .woocommerce .fx_product_category_menu li{
	  padding:5px 10px;
	  font-size:.7rem;
  }
  .woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count{
	  font-size:.7rem;
  }
  .woocommerce .term-description, .woocommerce .page-description{
	  font-size:1rem;
	  line-height: 1.5em;
	  margin-top:0px;
	  width:90%;
  }
  .woocommerce .cart-collaterals{
	  width:100%;
  }
  .woocommerce table.shop_table_responsive tr:nth-child(2n) td, 
  .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td{
	  background:none;
  }
  .woocommerce table.shop_table tr.cart-subtotal td,
  .woocommerce-cart .cart-collaterals table.shop_table tr.order-total:last-child td,
  .woocommerce table.shop_table tr.order-total td{border:none;}
  
  .woocommerce-cart .cart-collaterals table.shop_table tr.order-total:last-child td{
	  padding-top:0;
  }
   
  .woocommerce-MyAccount-navigation ul li{
  	  margin-top:-1px;
  } 
  .woocommerce-MyAccount-navigation ul li:first-child,
  .woocommerce-MyAccount-navigation ul li:last-child{
  	border-radius: 0;
  }
}
@media (max-width: 480px){
  .fx-product-categories .woocommerce.columns-3 ul.products li.product {
    width: 100%;
    height: 240px;
    float:none;
  }
  .woocommerce-account .woocommerce-MyAccount-content{
  	width:80%;
  }
  .woocommerce.columns-2 ul.products li.product,
  .woocommerce.columns-3 ul.products li.product, 
  .woocommerce.columns-4 ul.products li.product,
  .woocommerce.columns-5 ul.products li.product,
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	  width:48%;
  }
}