/**
 * Stylesheet of WP admin	
 */

/* Hide the notification*/
div.updated.rs-update-notice-wrap{display:none;}
.updated.vc_license - activation - notice{display:none;}

/*Reset the tgmpa bar width*/
#setting-error-tgmpa{max-width:100%;width:auto;}

/*Hide Mobile Mega Menu*/
.mega_menu_meta_box div#megamenu_accordion h3#ui-id-3{
	display:none;
}