/*
* Focus Child Theme Styles
*
*/

.site-bottom{
	.newsletter{
		h2.widget-title{
			font-size: 2.2rem;
			margin-bottom: 0px;
			line-height: 1em;
			font-weight: 300;
			border-bottom: none;
		}
	}
	.terms{
		margin-left: 25.5%;
	}
	
	.wpcf7{
		input, select, textarea{
			border: 1px solid #555;
			width: 100%;
			box-sizing: border-box;
			font-weight: normal;
			color: #ccc;
		}

		.wpcf7-textarea{
			height: 150px;
			resize: vertical;
		}
		input{
			&[type="submit"]{
				background-color: #555;
				&:hover{
					background-color: #777;
				}
			}
		}
	}
}