/* 
Fonts 
*/

@font-face {
	font-family: 'GothamPro-Regular';
	src: url("../fonts/GothamPro_gdi.eot");
	src: url("../fonts/GothamPro_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro_gdi.woff") format("woff"), url("../fonts/GothamPro_gdi.ttf") format("truetype"), url("../fonts/GothamPro_gdi.otf") format("opentype"), url("../fonts/GothamPro_gdi.svg#GothamPro-Regular") format("svg");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}
@font-face {
	font-family: 'GothamPro-Bold';
	src: url("../fonts/GothamPro-Bold_gdi.eot");
	src: url("../fonts/GothamPro-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold_gdi.woff") format("woff"), url("../fonts/GothamPro-Bold_gdi.ttf") format("truetype"), url("../fonts/GothamPro-Bold_gdi.otf") format("opentype"), url("../fonts/GothamPro-Bold_gdi.svg#GothamPro-Bold") format("svg");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}
@font-face {
	font-family: 'GothamPro-Black';
	src: url("../fonts/GothamPro-Black.eot");
	src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype"), url("../fonts/GothamPro-Black.otf") format("opentype"), url("../fonts/GothamPro-Black.svg#GothamPro-Black") format("svg");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}
