/*
* Focus Child Theme Styles
*
* Footer
*/

.site-bottom{
	.newsletter{
		.widget{
			margin: 0;
		}
		h2.widget-title{
			font-size: 2.2rem;
			margin-bottom: 0px;
			line-height: 1em;
			text-transform: none;
			font-weight: 300;
			border-bottom: none;
		}
	}
	.terms{
		margin-left: 25.5%;
	}
}