/*
* Focus Child Theme Styles

/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
body{
	font:300 0.9rem 'GothamPro-Regular', sans-serif;
	line-height: 1.6em;
	overflow-x:hidden;
	background-color: #F4F1E8;
}
#body-container{
	overflow-x:hidden;
	min-width: 319px;
}

a{
	color:#1bbff5;
	opacity: .95;
	text-decoration: none;
	transition: opacity 0.1s;
	-moz-transition: opacity 0.1s; /* Firefox 4 */
	-webkit-transition: opacity 0.1s; /* Safari and Chrome */
	-o-transition: opacity 0.1s; /* Opera */

	&:active, &:visited, &:link{
		outline: 0 none;
	}
}
a:hover{
	opacity: 1;
}
h1,h2,h3,h4,h5,h6,blockquote{
	font-weight:300;
	font-family: 'Open Sans', serif;
}
h1{font-size:32px;font-size:2rem;}
h2{font-size: 24px;font-size: 1.5rem;line-height: 1.5em;}
h3{font-size: 22px;font-size: 1.4rem;margin:10px auto;}
h4{font-size: 18px;font-size: 1.12rem;line-height: 1.5em;margin:8px auto;}
h5{font-size: 16px;font-size: 1rem;line-height: 1.5em;margin:6px auto;}
h6{font-size:14px;font-size:.9rem;line-height: 1.5em;margin:5px auto;}

hr{
	height:1px;
	border-top:1px solid #eee;
	border-bottom:0;
	margin:30px auto;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
select,
textarea{
	padding:12px 5px;
	border:1px solid #ddd;
	background:none;
	font-weight:400;
	border-radius: 5px;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
.button{
	background:#1bbff5;
	color:#fff;
	padding:10px 5px;
	border-radius: 5px;
	font-size:14px;
	border:none;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover{
	background:#1d94bc;
	color:#fff;
}

select {
	padding: 5px 8px;
	width: 100%;
	border: 1px solid #ddd;
	box-shadow: none;
	background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+") no-repeat 98% 50%;
	-webkit-appearance: none;
	   -moz-appearance: none;
		 -o-appearance: none;
		-ms-appearance: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus{
	outline:none;
}

.error-404{
	min-height:300px;
	padding-top:60px;
	text-align:center;
}
.narrow{
	width:80%;
}
.caps{
	text-transform: uppercase;
}
.wpb_content_element{
	margin-bottom: 0;
}
body{
	&.home{
		h2{
			font-size:4rem;
			line-height: 3.2px;
			text-transform: uppercase;
		}
	}
}