/*--------------------------------------------------------------
## Header Elements
--------------------------------------------------------------*/
#fx-topbar,
#fx-primary-bar,
#site-icons{
	height:50px;
	z-index: 999;
	position: relative;
}
#fx-topbar{
	width:100%;
	background:#000;
	transition:top .5s;
}

.page-template-page-transparent-header #fx-topbar{
	background-color:transparent;
	z-index: 4;
	padding-top:10px;
	position: fixed;
	top:0;
	left:0;
}
.page-template-page-dark-header,
.page-template-page-dark-header-max1000{
	#fx-topbar{
		position: static;
	}
}

.page-template-page-transparent-header.admin-bar #fx-topbar,
.admin-bar #fx-topbar.nav-bg{
	top:30px;
}

.page-template-page-white-header #fx-topbar,
.page-template-page-white-header #fx-topbar.nav-bg{
	background:#fff;
}
.page-template-page-white-header #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item,
.page-template-page-white-header #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item a{
	color:#000;
}

#fx-topbar.nav-down{
   position:fixed;
   top:0px;
   left:0;
}
#fx-topbar.nav-up,
.page-template-page-transparent-header.admin-bar #fx-topbar.nav-up{top:-50px;}

#fx-topbar a{
	 color:#fff;
}
.site-cover #fx-primary-bar{
	border-bottom: none;
}
#fx-header-cover{
	clear:both;
	width:50%;
	height:400px;
	position: absolute;
	z-index: 1;
	top:50%;
	left:50%;
	margin-top:-150px;
	margin-left:-25%;
	overflow: hidden;
	text-align: center;
	color:#fff;
}
#fx-header-cover h2{
	font-size:32px;
	font-size:3rem;
	line-height: 60px;
	font-weight:600;
	text-transform: uppercase;
}
#fx-header-cover .view-content{
	margin-top:50px;
	display: block;
	color:#fff;
	font-size:4rem;
	opacity: .5;
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-o-transition: all 0.2s; /* Opera */
}
#fx-header-cover .view-content:hover{
	opacity: 1;
}
#fx-header-cover .view-content i{
	border: 1px solid #fff;
	padding: 5px 18px;
	border-radius: 50%;
}
#fx-header-overlay{
	background:url(../img/pattern.png) repeat;
	opacity:1;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 0;
	top:0;
}

.site-branding{
	margin:12px 20px 0 0;
}
.site-branding .site-title{
	font:normal 2rem 'Montserrat',arial;
	font-size: 1.5em;
	margin:0;
	overflow: hidden;
	line-height: 1em;
	text-transform: uppercase;
}
.site-branding .site-title img{
	width:auto;
	height:30px;
}
#fx-topbar.nav-bg{
	background:#000;
	padding-top:0;
}

.page-template-page-white-header #fx-topbar .site-branding .site-title a,
.page-template-page-white-header #fx-topbar a,
.page-template-page-white-header #fx-topbar.nav-bg a{
	color:#000;
}
#fx-topbar.nav-bg .site-branding .site-title a,
#fx-topbar.nav-bg a,
.site-cover .site-branding .site-title a{
	color:#fff;
}
#site-icons{
   width: 17%;
	text-align: right;
	float:right;
	line-height:50px;
	margin-right:2%;
	a{
		margin-left:5px;
		display: inline-block;
		width:25px;
		height:25px;
		text-align: center;
		line-height: 25px;
		color:#fff;
		&:hover{
			color:#1bbff5;
		}
	}
}
#fx-topbar.withbg #site-icons a{
	color:#000;
}
