/*
* Focus Child Theme Styles

/*--------------------------------------------------------------
## Home page
--------------------------------------------------------------*/
body{
	&.home{
		h2{
			font-size:4rem;
			line-height: 4.2rem;
			text-transform: uppercase;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}
}
