/* language selector redefine */
#site-icons{
	ul.lang-selector{
		list-style: none;
		// padding: 0;
		margin: 0;
		li{
			display: inline-block;
			vertical-align: 1px;
			margin: 0;
			text-transform: uppercase;
			font-size: 0.8rem;
			margin-left: -4px;
			&:not(:last-child){
				&:after{
					content: '/';
					color: #fff;
					// margin-left: -2px;
				}
			}
			&.current-lang{
				a{
					font-family: 'GothamPro-Bold', sans-serif;
					// font-weight: 600;
				}
			}
			a{
				margin-left: 0;
			}
		}
	}
}

// .nav-down.nav-bg{
// 	#site-icons .wpml-ls-legacy-dropdown ul li a{
// 		background-color: #000;
// 	}
// }

// .page-template-page-transparent-header{
// 	#site-icons .wpml-ls-legacy-dropdown ul li a{
// 		background-color: transparent;
// 	}
// }

