/* ## Main Navigation*/
.main-navigation {
	display: block;
	line-height: 50px;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: right;
}

.main-navigation ul li{
	display:inline-block;
	position: relative;
	padding:0 0 0 20px;
}
.main-navigation ul li.current_page_item a,
.main-navigation ul li.current-menu-item a{
	font-weight: bold;
	font-family: 'GothamPro-Bold', sans-serif;
}
.main-navigation ul li:first-child{
	padding-left:0;
}
.main-navigation a {
	display: block;
	color:#000;
	font-size:14px;
	font-size:0.8rem;
	font-weight:400;
	letter-spacing: 1px;
	text-transform:uppercase;
	text-decoration: none;
	font-family: 'GothamPro-Regular', sans-serif;
	
}
#fx-topbar.withbg .main-navigation a,
.page-template-page-white-header .main-navigation a{
	color:#000;
}
.site-cover .main-navigation a{
	color:#fff;
}
#fx-topbar.withbg .main-navigation a:hover,
.main-navigation a:hover,
.site-cover .main-navigation a:hover{
	color:#1bbff5;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 3.4em;
	left: -999em;
	z-index: 4;
	background:#333;
	padding:0 10px;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a,
#fx-topbar .main-navigation ul ul a,
.page-template-page-white-header #fx-topbar .main-navigation ul ul a{
	width: 200px;
	color:#fff;
	opacity: .9;
	font-size:0.7rem;
}

.main-navigation ul ul li {
	text-align: left;
	display:block;
	line-height: 1.5em;
	padding:10px 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,.1);
}
.main-navigation ul ul li:last-child{
	border:none;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}