/*--------------------------------------------------------------
## Main Containers
--------------------------------------------------------------*/
#page{
	margin:50px auto 70px;
	&.home{
		margin-top: 0;
	}
}
.site-header{
	width:100%;
	height:auto;
	margin-bottom:-1px;
	border-bottom: 1px solid #eee;
}
.site-header.site-cover{
	min-height:700px;
	height:auto;
	max-height:100%;
	margin-bottom:0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
	background-size:cover;
	background-attachment: fixed;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	margin-right:0;
}
#home-secondary{
	margin-top:20px;
}
.site-footer {
	clear: both;
	width: 100%;
	text-align: center;
	margin:0;
	background:#2f2f2f;
	color:#999;
}
.site-footer a{
	color:#ccc;
}
.site-footer .site-info{
	font-size: 12px;
	font-size:0.7rem;
	margin:20px auto;
}
.site-bottom{
	height:auto;
	overflow: hidden;
	margin-top:50px;
	padding:60px 0;
	background:#333;
	color:#999;
}
.page-template-page-custom .site-bottom,
.page-template-page-transparent-header .site-bottom,
.page-template-page-dark-header .site-bottom,
.page-template-page-white-header .site-bottom{
	margin-top:0;
}
.site-bottom .widget li a{
	color:#ccc;
}
.site-bottom .widget-title{
	color:#fff;
}
.site-bottom .widget li,
.site-bottom .widget .widget-title{
	border-color: #444;
}