/* 
Menu in footer
Bottom bottom menu
*/
.menu-bottom-bottom-menu-container{
	ul{
		li{
			display: inline-block;
			width: 30%;
			border-bottom: 0 none;
			a{
				display: inline-block;
				height: auto;
				line-height: 40px;
				border-bottom: 1px #444 solid;
			}
			&:nth-child(2){
				text-align: center;
			}
			&:nth-child(3){
				text-align: right;
			}
		}
	}
}
.last-bottom-widget{
	.widget {
		margin: 0;
	}
}