/*--------------------------------------------------------------
   ## Portfolio pages
--------------------------------------------------------------*/
.portfolio-list{}
.light-gallery{
	.isotope-item{
		margin: 0 2px 2px 0 !important;
		width: 16.2%;
		img{
			width: 100%;
			height: auto;
		}
	}
}