/*--------------------------------------------------------------
   ## Recent Posts
--------------------------------------------------------------*/
ul.post_list {
	margin:0;
	padding:0;
}
.widget .post_list li {
	height:70px;
	overflow:hidden;
	list-style:none;
	.post_list li:before{
		display: none;
	}
}
.post_list li:last-child{
   	margin-bottom:0;
}
.post_list li a.thumbnail{
	float:left;
	display:block;
	width:60px;
	height:60px;
	overflow:hidden;
	margin:2px 10px 0px 0;
}
.post_list li a.thumbnail img{
	width:100px;
	height:auto;
}
.post_list li a.post_title{
	font-size:14px;
	line-height: 18px;
	color:#000;
}
.post_list li a.post_title:hover{
	color:#333;
}
.site-bottom .post_list li{
	height:64px;
}
.site-bottom .post_list li a.post_title{
	color:#ccc;
	&:hover{
		color:#fff;
	}
}

.post_list li p{
	margin-top:0;
	font-style: italic;
	color:#aaa;
	font-size:11px;
}