/*
* Social Styles
*
*/
a.footer-social{
	color: #ccc;
	display:inline-block;
	border-bottom: 1px #444 solid;
	position: relative;
	margin-left: 80px;
	font-size: 20px;
	line-height: 55px;
	height: 45px;
	margin-top: 30px;
	&:first-child{
		margin-top: 10px;
	}
	&:hover{
		color: #1bbff5;
	}
	&:before{
		content: '';
		width: 60px;
		height: 60px;
		box-sizing: border-box;
		border-radius: 50%;
		display: inline-block;
		background-color: #ccc;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-size: 60%;
		vertical-align: middle;
		position: absolute;
		left: -80px;
	}
	&.facebook{
		&:before{
			background-size: 40%;
			background-image: url('../img/fb.svg');
		}
	}
	&.instagram{
		&:before{
			background-image: url('../img/instagramm.svg');
		}
	}
	&.twitter{
		&:before{
			background-image: url('../img/twitter.svg');
		}
	}
	&.youtube{
		&:before{
			background-image: url('../img/youtube.svg');
		}
	}
	&.vk{
		&:before{
			background-size: 50%;
			background-image: url('../img/bk.svg');
		}
	}
	&.tumblr{
		&:before{
			background-size: 40%;
			background-image: url('../img/tumblr.svg');
		}
	}
}